/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif; /* Fonte moderna */
    background-color: #f0f2f5; /* Fundo claro e suave */
    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  header {
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: #f0f2f5; /* Fundo claro e suave */
  }
  
  .logo {
    height: 250px; /* Adjust as needed */
    margin-right: 15px;
  }


  
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    align-items: center; /* Centraliza itens horizontalmente */
    justify-content: center; /* Centraliza itens verticalmente */
    text-align: center; /* Centraliza o texto dentro do container */
    display: block;
    clear: both;
  }
  
  .container:hover {
    transform: translateY(-5px); /* Efeito de hover */
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15); /* Sombra ao passar o mouse */
  }
  
  p {
    text-align: center;
    margin: 15px;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #5271ff;
  }
  
  label {
    font-size: 1.1rem;
    margin-bottom: 10px;
    display: block;
    color: #5c6bc0;
  }
  
  input[type="number"], select {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: #333;
    transition: border 0.3s ease;
  }
  
  input[type="number"]:focus, select:focus {
    border-color: #5c6bc0; /* Cor de foco */
    outline: none;
  }
  
  button, .button {
    display: inline-block;
    background-color: #5c6bc0;
    color: white;
    padding: 12px 25px;
    margin: 4px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    border: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 100%;
  }

    .button-avisos {
    display: inline-block;
    background-color: #16c792;
    color: white;
    padding: 12px 25px;
    margin: 4px;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    border: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 100%;
 }

 .button-sentidos {
  display: inline-block;
  background-color: #178dc4;
  color: white;
  padding: 12px 25px;
  margin: 4px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
  border: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%;
}

.button-sind {
  display: inline-block;
  background-color: #f19925;
  color: white;
  padding: 12px 25px;
  margin: 4px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1.1rem;
  border: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 100%;
}
  
  button:hover, .button:hover, button:focus, .button:focus {
    background-color: #4054b2;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Efeito de sombra no hover */
    outline: none;
  }

  .button-avisos:hover {
    background-color: #4dc56b;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Efeito de sombra no hover */
  }  

  .button-sentidos:hover {
    background-color: #1873be;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Efeito de sombra no hover */
  }

  .button-sind:hover {
    background-color: #ee8127;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Efeito de sombra no hover */
  }


  .result {
    margin-top: 20px;
    padding: 20px;
    background-color: #f4f4f9;
    border-left: 4px solid #5c6bc0;
    font-size: 1.2rem;
    border-radius: 10px;
    display: none;
  }
  
  .result.visible {
    display: block;
  }
  
  .hidden {
    display: none;
  }
  
  a.button-back {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    display: inline-block;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  a.button-back:hover, a.button-back:focus {
    background-color: #444;
    outline: none;
  }

/* Estilo para o aviso fixo */
.instruction-notice {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
    border-radius: 5px;
    padding: 15px;
    margin: 20px auto; /* Centraliza o aviso e adiciona espaçamento */
    max-width: 800px; /* Garante que o aviso não ultrapasse a largura do contêiner */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    clear: both; /* Garante que o aviso não flutue ao lado de outros elementos */
    display: block;
  }
  
  .instruction-notice h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  
  .instruction-notice p {
    font-size: 1em;
    line-height: 1.6;
  }
  
/* Estilos gerais para o rodapé */
.footer {
  position: fixed; /* Fixa o rodapé na parte inferior da página */
  bottom: 0; /* Posiciona o rodapé no fundo */
  width: 100%; /* Faz o rodapé ocupar toda a largura da página */
  background-color: #f8f9fa; /* Cor de fundo do rodapé */
  color: #333; /* Cor do texto */
  text-align: center; /* Centraliza o texto */
  padding: 10px 0; /* Espaçamento interno */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
  font-size: 0.9rem; /* Tamanho da fonte */
}

/* Estilo do link no rodapé */
.footer-link {
  color: #007bff; /* Cor do texto do link */
  text-decoration: none; /* Remove o sublinhado */
}

.footer-link:hover, .footer-link:focus {
  color: #0056b3; /* Cor do link ao passar o mouse ou quando em foco */
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse ou quando em foco */
}

/* Adiciona margem ao conteúdo para não sobrepor o rodapé */
body {
  margin-bottom: 50px; /* Espaço suficiente para o rodapé */
}

