
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 3em;
  background: linear-gradient(90deg, cyan, magenta, yellow, black); /* Cores CMYK */
  -webkit-background-clip: text;
  color: transparent;
}


.news-grid {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 80px;
}

.news-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 30px;
  
}

.news-item:hover {
  transform: translateY(-5px);
}

.news-item img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #ddd;
}

.news-item h2 {
  font-size: 1.5em;
  margin: 15px;
  text-align: center;
}

.news-item p {
  font-size: 1em;
  margin: 15px;
  color: #666;
}

a {
  text-decoration: none;
  color: #666;
}


.dock {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.dock-item {
  color: #5c6bc0;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  flex-grow: 1;
}

.dock-item i {
  font-size: 24px;
  display: block;
}

.dock-item span {
  margin-top: 5px;
  display: block;
  font-size: 12px;
}

.dock-item:hover {
  background-color: #4caf4f00;
  color: white;
  transform: scale(1.1);
  transition: 0.3s;
}